<div class='dialog dialog-default'>
  <form class="form-inline">
    <div class="form-group">
      <input class="form-control flat" placeholder="Username" ng-model='user.username'>
    </div>
    <div class="form-group">
      <input type="password" class="form-control flat" placeholder="Password" ng-model='user.password'>
    </div>
    <button class="btn btn-primary btn-wide" ng-click='login()'>Login</button>
    <button class="btn btn-danger btn-wide" ng-click='register()'>Register</button>
  </form>

  <ng-include src='user.html'></ng-include>

</div>
